@font-face {
    font-family: "Killfeed-Font";
    src: url("Thedus-Wide.otf") format("otf");
    font-weight: 900;
    font-style: normal;
}

html, body {
    margin: 0;
    padding: 6px;
    overflow: hidden;
}

.killContainer {
    width: auto !important;
    height: 32px;
    float: right;
    border-radius: 4px;
    background: rgba(0,0,0,0.50);
    color: #FFF;
    font-family: 'Killfeed-Font', monospace;
    line-height: 18px;
    font-size: 140% !important;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: middle;
    display: inline;
    vertical-align: top;
    /*border: 2px solid rgb(0, 0, 0);*/
    transition: padding-top 1s;
}

.selfkillcontainer {
    width: auto !important;
    height: 32px;
    float: right;
    border-radius: 4px;
    background: rgba(0,0,0,0.50);
    color: #FFF;
    font-family: 'Killfeed-Font', monospace;
    line-height: 18px;
    font-size: 140% !important;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: middle;
    display: inline;
    vertical-align: top;
    border: 2px solid rgb(240, 47, 47);
    transition: padding-top 1s;
}   


.weapon {
    height: 20px;
    padding: 10px;
    vertical-align: middle;
}

.killer {
    color: rgb(240, 47, 47);
}

.killed {
    color: rgb(240, 47, 47);
}

.clear {
    clear:both
}