.color-0 {
    color: #ffffff;
}

.color-1 {
    color: #ff4444;
}

.color-2 {
    color: #99cc00;
}

.color-3 {
    color: #ffbb33;
}

.color-4 {
    color: #0099cc;
}

.color-5 {
    color: #33b5e5;
}

.color-6 {
    color: #aa66cc;
}

.color-8 {
    color: #cc0000;
}

.color-9 {
    color: #cc0068;
}

* {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

.no-grow {
    flex-grow: 0;
}

em {
    font-style: normal;
}

#app {
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: white;
}

.chat-window {
    position: relative;
    top: 1.5%;
    left: 0.8%;
    width: 30%;
    height: 22%;
    max-width: 1000px;
    background-color: transparent;
    -webkit-animation-duration: 2s;
}

.chat-messages {
    position: relative;
    height: 320px;
    font-size: 16px;
    margin: 1%;

    overflow-x: hidden;
    overflow-y: hidden;
}

.chat-input {
    font-size: 1.65vh;
    position: relative;

    left: 0.8%;
    width: 30%;
    max-width: 1000px;
    box-sizing: border-box;
}

.prefix {
    font-size: 1.8vh;
    position: absolute;
    margin-top: 0.5%;
    left: 0.208%;
}

textarea {
    font-size: 1.65vh;
    display: block;
    box-sizing: border-box;
    padding: 1%;
    padding-left: 3.5%;
    color: white;
    background-color: transparent;
    width: 100%;
    border-width: 0;
    height: 3.15%;
    overflow: hidden;
    text-overflow: ellipsis;
}

textarea:focus, input:focus {
    outline: none;
}

.msg {
    margin-bottom: 5px;
    padding: 3px 3px;
    border-radius: 5px;
    position: relative;
    display: flex;
    align-items: center;
}

.msgText {
    top: -3px;
    position: relative;
}

.twt {
    background-color: rgba(29, 161, 242, 0.35);
}

.ooc {
    background-color: rgba(64,64,64, 0.35)
}

.alert {
    background-color: rgba(255, 0, 6, 0.35);
}

.staff {
    background-color: rgba(226, 255, 98, 0.534);
}

.police {
    background-color: rgba(86, 138, 250, 0.534);
}

.faction {
    background-color: rgba(255, 175, 71, 0.534);
}

.msgIcon {
    align-self: flex-start;
}

.multiline {
    /*margin-left: 4%;*/
    text-indent: 0.5rem;
    vertical-align: middle;
    white-space: pre-line;
}

.suggestions {
    list-style-type: none;
    padding: 0.5%;
    padding-left: 1.4%;
    font-size: 1.65vh;
    box-sizing: border-box;
    color: white;
    background-color: rgba(44, 62, 80, 1.0);
    width: 100%;
}

.help {
    color: #b0bbbd;
}

.disabled {
    color: #b0bbbd;
}

.suggestion {
    margin-bottom: 0.5%;
}

.hidden {
}
