@font-face {
  font-family: 'Circular';
  src: url("fonts/Circular-Bold.woff2") format("woff2"), url("fonts/Circular-Bold.woff") format("woff"), url("fonts/Circular-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Circular';
  src: url("fonts/Circular-Book.woff2") format("woff2"), url("fonts/Circular-Book.woff") format("woff"), url("fonts/Circular-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

* {
  position: relative;
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  overflow: hidden;
  height: 100%; 
}

.hud {
  /* position: absolute; */
  top: 50%;
  left: 5px;
  width: 180px;
}

.hud .container {
  position: relative;
  right: 0;
  top: 3px;
  bottom: 3px;
  border-style: solid;
  border-color: rgb(147, 239, 255);
  border-width: 0.0px;
  width: auto;
  height: auto;
  padding: 5px 10px 5px 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: rgba(6, 7, 8, 0.4);
  /* -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px); */
  border-radius: 10px; 
}

.hud .container .tableRow .nav_button {
  display:inline-block;
  text-align: center;
  vertical-align:middle;
  color: rgb(255,255,255);
}

.hud .container .tableRow2 .nav_button {
  display:inline-block;
  text-align: center;
  vertical-align:middle;
  color: rgb(255,255,255);
}



.hud #hour {
  position: absolute;
  z-index: 2;
  color: white;
  text-align: center;
  font-size: 14px;
  width: 170px;
  right: 55px;
  top: -15px; 
}

.hud #proximity {
  position: absolute;
  z-index: 2;
  color: white;
  text-align: center;
  font-size: 14px;
  width: 170px;
  right: -57px;
  top: -15px; 
}

.hud .notification {
  display: none;
  position: absolute;
  width: 22px;
  height: 22px;
  line-height: 21px;
  background-color: #EE5253;
  color: white;
  font-size: 14px;
  text-align: center;
  z-index: 2;
  border-radius: 100%;
  top: -7px;
  left: 0; 
}

.hud .icons {
  position: absolute;
  z-index: 2;
  right: 0;
  top: -16px; 
}
