<div class="personNav">
    <p class="inlinep yellow">|</p>
    <p class="inlinep navp" v-on:click="$parent.switchPage('personsearch')">Home </p>
    <p class="inlinep yellow">|</p>
    <p class="inlinep navp" v-on:click="$parent.switchPage('new-fines')">New Fine </p>
    <p class="inlinep yellow">|</p>
    <p class="inlinep navp" v-on:click="$parent.switchPage('oldfines')">Fines </p>
    <p class="inlinep yellow">|</p>
    <p class="inlinep navp" v-on:click="$parent.switchPage('dvsa')">DVSA</p>
</div>