@media screen and (max-width: 1280px) {
  html,
  body {
    font-size: 10.6556px !important;
  }
}

@media screen and (min-width: 1281px) and (max-width: 1366px) {
  html,
  body {
    font-size: 11.3776px !important;
  }
}

@media screen and (min-width: 1367px) and (max-width: 1600px) {
  html,
  body {
    font-size: 13.3333328px !important;
  }
}

@media screen and (min-width: 1601px) and (max-width: 1920px) {
  html,
  body {
    font-size: 16px !important;
  }
}

@media screen and (min-width: 1921px) and (max-width: 2200px) {
  html,
  body {
    font-size: 18.24px !important;
  }
}

@media screen and (min-width: 2200px) and (max-width: 2560px) {
  html,
  body {
    font-size: 21.28px !important;
  }
}

@media screen and (min-width: 2561px) and (max-width: 2880px) {
  html,
  body {
    font-size: 24px !important;
  }
}

@media screen and (min-width: 2881px) and (max-width: 3200px) {
  html,
  body {
    font-size: 26.666px !important;
  }
}
