@font-face {
    font-family: "Beba";
    src: url(../fonts/BebasNeue-Regular.ttf);
}

body {
    overflow: hidden;
}

.wrapper {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
    top: 0;
    left: 0;

}

.container {
    position: relative;
    width: 30%;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.55);
}

.header {
    position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
    width: 100%;
    height: 27%;
}

.header div {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.header div h2 {
    color: white;
    font-size: 3.5vh;
    font-family: "Beba";
}

.data {
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 75%;
}

.data div {
	position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
	width: 100%;
	height: 33.3%;
}

.server-info {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e6e6e6;
    font-size: 1.9vh;
    font-family: "Beba";
}

.server-status {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.server-status div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e6e6e6;
    font-size: 1.9vh;
    font-family: "Beba";
}

.server-status div img {
    width: 3vh;
    height: 3vh;
}

.players-type {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.players-type div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.3%;
    height: 100%;
    color: #e6e6e6;
    font-size: 2.2vh;
    font-family: "Beba";
}

.players {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 73%;
    overflow-y: scroll; 
}

/* Scroll Bar */
.players::-webkit-scrollbar {
	width: 0.5vh;
}

.players::-webkit-scrollbar-track {
	border-radius: 0;
	background-color: #555;
}

.players::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 0.6vh;
}

.players::-webkit-scrollbar-thumb:hover {
  	background: #555;
}

.players div {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column nowrap;
    width: 33.3%;
    height: 100%;
}

.players div span {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d3d3d3;
    font-size: 1.5vh;
    font-family: "Beba";
    margin: 5%;
}